TASK-1

Create a pandas dataframe (DataFrame name as 'dF) with numpy random values (4 features and 4 observation)

In [ ]:
import pandas as pd
import numpy as np


np.random.seed(50)
data = np.random.randn(4, 4)
dF = pd.DataFrame(data, columns=['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4'])
print(dF)

   Feature 1  Feature 2  Feature 3  Feature 4
0  -1.560352  -0.030978  -0.620928  -1.464580
1   1.411946  -0.476732  -0.780469   1.070268
2  -1.282293  -1.327479   0.126338   0.862194
3   0.696737  -0.334565  -0.997526   1.598908

TASK-2

Rename the task - 1 'df dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & Random value 4'

In [ ]:
dF.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
print(dF)

   Random value 1  Random value 2  Random value 3  Random value 4
0       -1.560352       -0.030978       -0.620928       -1.464580
1        1.411946       -0.476732       -0.780469        1.070268
2       -1.282293       -1.327479        0.126338        0.862194
3        0.696737       -0.334565       -0.997526        1.598908

TASK-3

Find the descriptive statistics of the 'df dataframe.

In [ ]:
statistics = dF.describe()
print(statistics)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        -0.183490       -0.542438       -0.568147        0.516697
std          1.463253        0.555401        0.488038        1.356767
min         -1.560352       -1.327479       -0.997526       -1.464580
25%         -1.351807       -0.689419       -0.834733        0.280500
50%         -0.292778       -0.405649       -0.700699        0.966231
75%          0.875539       -0.258668       -0.434112        1.202428
max          1.411946       -0.030978        0.126338        1.598908

TASK-4

Check for the null values in 'df and find the data trpe of the columns.

In [ ]:
null_values = dF.isnull().sum()
data_types = dF.dtypes
print("Null Values:")
print(null_values)
print("\nData Types:")
print(data_types)

Null Values:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Data Types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

TASK-5

Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [ ]:
location_columns = dF[['Random value 2', 'Random value 3']]
print("Location Method:")
print(location_columns)

# Display columns using the index location method
index_location_columns = dF.iloc[:, [1, 2]]
print("\nIndex Location Method:")
print(index_location_columns)

Location Method:
   Random value 2  Random value 3
0       -0.030978       -0.620928
1       -0.476732       -0.780469
2       -1.327479        0.126338
3       -0.334565       -0.997526

Index Location Method:
   Random value 2  Random value 3
0       -0.030978       -0.620928
1       -0.476732       -0.780469
2       -1.327479        0.126338
3       -0.334565       -0.997526